flake8==3.9.1
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1

# Deps do pytest
py==1.10.0
attrs==20.3.0
pluggy==0.13.1
atomicwrites==1.4.0
colorama==0.4.4
iniconfig==1.1.1
packaging==20.9
pyparsing==2.4.7
pytest==6.2.3
toml==0.10.2

# Converage
coverage==5.5
pytest-cov==2.11.1

-r requirements.txt